PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=asd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=kjkl
REFRESH_TOKEN_EXPIRY= 10d
CLOUDINARY_CLOUD_NAME =dlblqm2fm
CLOUDINARY_API=755576896934435
CLOUDINARY_API_SECRET=cUigGhsX5-XWRJCxx0rRYrILK_8













MONGODB_URL=mongodb+srv://codingMaster:abcd1234@programming.ewg7pqp.mongodb.net