PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=asd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=kjkl
REFRESH_TOKEN_EXPIRY= 10d













MONGODB_URL=mongodb+srv://codingMaster:abcd1234@programming.ewg7pqp.mongodb.net